.topbox{
    height: 20vh;
    /* width: 100vh; */
    background-color: rgb(196, 57, 57);
    /* background-image: url('https://picsum.photos/1280/960?random?'); */
    background-size: cover;
    opacity: 0.5;
}

.bodybox {
    /* background-color: bisque;  */
    height: 80vh;
    /* width: 100vh; */
}


h1.moving{
    text-align: center;
    
}

/* .small-box {
    
    
    /* border-right: 1px solid rgba(94, 90, 90,0.3); */
   /* }
   */ 
  

.rBox{
       height: 40vh;
   }